aiohttp==3.6.2
altgraph==0.17
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.9.1
CacheControl==0.12.6
cachy==0.3.0
certifi==2019.11.28
cffi==1.13.1
cfgv==3.2.0
chardet==3.0.4
cleo==0.7.6
click==7.1.2
clikit==0.4.3
colorama==0.4.3
contextvars==2.4
cryptg==0.2.post0
cryptography==3.1
Cython==0.29.21
distlib==0.3.1
filelock==3.0.12
future==0.18.2
html5lib==1.1
identify==1.5.12
idna==2.8
immutables==0.14
importlib-metadata==1.1.3
keyring==20.0.1
lockfile==0.12.2
loguru==0.5.2
lxml==4.6.2
marshmallow==2.21.0
motor==2.1.0
msgpack==1.0.0
multidict==4.7.6
mysql-connector-python==8.0.21
nodeenv==1.5.0
packaging==20.8
pastel==0.2.0
peewee==3.13.3
pefile==2019.4.18
pexpect==4.8.0
phantomjs==1.3.0
Pillow==7.2.0
pkginfo==1.5.0.1
pluggy==0.13.1
pre-commit==2.9.3
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
py==1.10.0
pyaes==1.6.1
pyasn1==0.4.7
pycparser==2.19
pydantic==1.6.1
pygame==2.0.1
pyinstaller @ https://github.com/pyinstaller/pyinstaller/archive/develop.zip
pyinstaller-hooks-contrib==2020.10
pylev==1.3.0
pymongo==3.11.0
PyMySQL==0.10.0
pyparsing==2.4.7
pyTelegramBotAPI==3.7.2
pytesseract==0.3.4
python-dateutil==2.8.1
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==5.3.1
requests==2.22.0
requests-toolbelt==0.8.0
rsa==4.0
selenium==3.141.0
shellingham==1.3.2
six==1.15.0
soupsieve==2.0.1
tesseract==0.1.3
toml==0.10.2
tomlkit==0.5.11
tox==3.21.0
translate==3.5.0
typing-extensions==3.7.4.3
ujson==3.2.0
umongo==2.2.0
urllib3==1.25.8
vbml==1.0
virtualenv==20.3.0
vk-api==11.8.0
vkbottle==2.7.8
vkwave==0.2.8
watchgod==0.6
webencodings==0.5.1
win32-setctime==1.0.2
yarl==1.5.1
zipp==1.2.0
